<form action="/lists" method="POST">
  <dl>
    <dt>
      <label for="list_name">Enter the list name:</label>
    </dt>
    <dd>
      <input name="list_name" placeholder="List Name" type="text" value="">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" values="Save">
    <a href="/">Cancel</a>
  </fieldset>
</form>
